<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <remove name ="LocalSqlServer"/>
      <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g5; Persist Security Info=True; User ID=msci3300_g5; Password=Gr0up5!!!"/>
      <add name ="yang_HW7_lol" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g5; Persist Security Info=True; User ID=msci3300_g5; Password=Gr0up5!!!" providerName="System.Data.SqlClient"/>



    </connectionStrings>
    <system.web>
      <roleManager enabled="true"/>

      <authentication mode="Forms">
        <forms loginUrl="login/login.aspx"/>
      </authentication>

      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key ="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>
